### Financial Records Analysis

In this challenge, you are tasked with creating a Python script for analyzing the financial records of your company. You will give a set of financial data called [budget_data.csv](PyBank/Resources/budget_data.csv). The dataset is composed of two columns: `Date` and `Profit/Losses`. (Thankfully, your company has rather lax standards for accounting so the records are simple.)

#### Your task is to create a Python script that analyzes the records to calculate each of the following:

  * The total number of months included in the dataset

  * The total net amount of "Profit/Losses" over the entire period

  * The average change in "Profit/Losses" between months over the entire period

  * The greatest increase in profits (date and amount) over the entire period

  * The greatest decrease in losses (date and amount) over the entire period
  
In addition, your final script should both print the analysis to the terminal and export a text file with the results.
    
##### Importing the dataset and library prep

In [2]:
import pandas as pd
# Read our Kickstarter data into pandas
df = pd.read_csv("Resources/budget_data.csv")
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

##### Calculating variables

In [22]:
num_months = df["Date"].count()
sum_pl = df["Profit/Losses"].sum()
df["change in profits/losses"] = df["Profit/Losses"].diff()
df.dropna(how="any")
avg_diff = df["change in profits/losses"].mean()
max_diff = df["change in profits/losses"].max()
min_diff = df["change in profits/losses"].min()

       Date  Profit/Losses  change in profits/losses
0  Jan-2010         867884                       NaN
1  Feb-2010         984655                  116771.0
2  Mar-2010         322013                 -662642.0
3  Apr-2010         -69417                 -391430.0
4  May-2010         310503                  379920.0

##### Printing the output

In [23]:
print("Financial Analysis")
print("----------------------------")
print(f"Total Months: {num_months}")
print(f"Total: ${sum_pl}")
print(f"Average Change in Profit/Losses: ${avg_diff}")
print(f"Greatest Increase in Profit/Losses: ${max_diff}")
print(f"Greatest Decrease in Profit/Losses: ${min_diff}")

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average Change in Profit/Losses: $-2315.1176470588234
Greatest Increase in Profit/Losses: $1926159.0
Greatest Decrease in Profit/Losses: $-2196167.0

In [33]:
file = open('Financial Analysis Output', 'w')
file.write("Financial Analysis")
file.write("\n")
file.write("----------------------------")
file.write("\n")
file.write(f"Total Months: {num_months}")
file.write("\n")
file.write(f"Total: ${sum_pl}")
file.write("\n")
file.write(f"Average Change in Profit/Losses: ${avg_diff}")
file.write("\n")
file.write(f"Greatest Increase in Profit/Losses: ${max_diff}")
file.write("\n")
file.write(f"Greatest Decrease in Profit/Losses: ${min_diff}")
file.write("\n")
file.close()